doctype html
html(ng-app="editor")
  head
    title
      | NUMap Editor
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    link(href="/lib/bootstrap/bootstrap-3.1.1/css/bootstrap.min.css", rel="stylesheet")
    script(src="/lib/jquery/jquery-1.10.2.min.js")
    script(src="/lib/angular/angular-1.2.9/angular.min.js")
    script(src="/static/js/editor_controller.js")
    //[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]
    script(src="/lib/bootstrap/bootstrap-3.1.1/js/bootstrap.min.js")
  body
    ul(ng-controller="ShuttleRouteController")
      li(ng-repeat="shuttleRoute in shuttleRoutes")
        | {{shuttleRoute.doubleMapName}}
      
    